<%- include('../includes/head.ejs') %>
</head>
<body>

<%- include('../includes/nav.ejs') %>
<main>
    <h1>Checkout</h1>
</main> 
<section class="pagination">
    <a href="?page=1">1</a>
    <a href="?page=2">2</a>
</section>
<%- include('../includes/end.ejs') %>